:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.face-card {
  max-width: 100%;
  max-height: 320px;
}
.face-card img {
  width: 100%;
  height: 100%;
}

.map.hide {
  display: none;
}

.map {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1%;
  justify-content: space-between;
  align-content: center;
  justify-items: stretch;
}

.title {
  .loading {
    &::before {
      content: 'Loading Game Map';
    }
  }
  &::before {
    content: 'Who is the target?';
  }
}

.loading {
  margin: 2em auto;
  height: 200px;
  width: 200px;
  background: #242424;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 5px solid grey;
    border-top-color: black;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
